<div class="container" *ngIf="users">
  <h2>Gebruikers voor het systeem</h2>
  <br />
  <br />

  <p class="text-right"><a class="btn btn-info" routerLink="/users/new">Gebruiker toevoegen</a></p>

  <div class="text-center" *ngIf="users.length === 0">
    <p><b>Geen gebruikers gevonden!</b></p>
  </div>

  <div *ngIf="users.length !== 0">
    <table class="table table-hover">
      <thead>
        <th>Naam</th>
        <th>Status</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.getRole() }}</td>
          <td>
            <a (click)="deleteUser(user)"><i class="fa fa-times-circle"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
