.root {
  background-color: white;
  padding: 10px;
  height: 60vh;
  overflow: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.fa-warning {
  margin-top: 50px;
  font-size: 100px;
  margin-bottom: 20px;
}

.warning-label {
  width: 100%;
}

.btn-link {
  margin-top: 50px;
  color: black;
}
.btn-info {
  margin-top: 50px;
  background-color: #2a4227;
}
